body{
  margin: 0px;
  padding: 0;
  font-family: "Cuprum", "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-transform: none;
    
  background-color: #ffffff;   
}

html,
body{
    min-width: 940px;
}

@font-face { 
  font-family: "Cuprum"; 
  src: url("../fonts/cuprum.woff2") format("woff2"), 
       url("../fonts/cuprum.woff") format("woff"); 
  font-weight: normal; 
  font-style: normal; 
}
@font-face { 
  font-family: "Cuprum Bold"; 
  src: url("../fonts/cuprumbold.woff2") format("woff2"), 
       url("../fonts/cuprumbold.woff") format("woff"); 
  font-weight: bold; 
  font-style: normal; 
}
@font-face { 
  font-family: "Cuprum Italic"; 
  src: url("../fonts/cuprumitalic.woff2") format("woff2"), 
       url("../fonts/cuprumitalic.woff") format("woff"); 
  font-weight: normal; 
  font-style: italic; 
}
@font-face {
  font-family: "PT sans";
  src: url("../fonts/ptsans.woff2") format("woff2"), 
       url("../fonts/ptsans.woff") format("woff"); 
  font-weight: normal; 
  font-style: normal; 
}
@font-face { 
  font-family: "PT sans Bold"; 
  src: url("../fonts/ptsansbold.woff2") format("woff2"), 
       url("../fonts/ptsansbold.woff") format("woff"); 
  font-weight: bold; 
  font-style: normal; 
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.login-button,
.logon-button{
    font: inherit;
    font-size: 21px;
    line-height: 21px;
    color:  #000000;
    text-align: center;
    vertical-align: middle;
    background-color: #ffffff;
    border: none; 
    
    margin-left: 10px;
    height: 45px;
    
}

.login-button:hover,
.login-button:focus,
.logon-button:hover,
.logon-button:focus{
   color: #ee3643; 
}

.login-button:active,
.logon-button:active{
    color: rgba(0, 0, 0, 0.3);
}


.red-button{
    font: inherit;
    font-size: 14px;
    line-height: 18px;
    color:  #ffffff;
    text-align: center;
    vertical-align: middle;
    background-color: #ee3643;
    border: none;  
}

.red-button:hover,
.red-button:focus{
   background-color: #ca2c37; 
}

.red-button:active{
    background-color: #ba2732; 
}

.green-button{
    background-color: #63a63e;
    font: inherit;
    font-size: 14px;
    line-height: 18px;
    color:  #ffffff;
    text-align: center;
    vertical-align: middle;
    border: none;
}

.green-button:hover,
.green-button:focus{
    background-color: #5fbb2d;
}

.green-button:active{
    background-color: #518534;
}

.main-header{
  min-height: 320px;
}

.header-cart .container{
    width: 940px;
    margin: 0 auto;
    padding: 0;
    display:flex;
    
     position: relative;
}


.header-personal{
    background-color: #f4f7f9;
    display: flex;
    width: 100%;
    
}

.header-wrapper{
    width: 940px;
    margin: 0 auto;
    padding: 0;
    display:flex;
    flex-direction: column;
    justify-content: center;

}

.header-cart{
    background-color: #293449;
      width: 100%;
    min-height: 42px;
    display:flex;
        margin-bottom: 3px;
}


.header-nav{
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
  
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    
    width: 940px;
   
}


.header-nav div{
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    padding: 13px 20px;
}


.header-nav a{
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    
    display: block;   
}

.header-nav li:first-child a{
    padding: 0;
}


.logo{
    
    margin-top: 0px;
    background-color: #ee3643;
    display:block;
    
    
}

.header-nav .logo{
   position:absolute;
    top: 0;
    left: 0; 
    width: 220px;
    height: 47px; 
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.header-nav .logo:active{
   background-color: #ba2732; 
}

.header-nav .logo:focus,
.header-nav .logo:hover{
   background-color: #ca2c37;  
}

.header-nav img{
    position: relative;
    top: 13px;
    left: 55px; 
    vertical-align: middle;
    width: 109px;
    height: 19px;
    \width: 138px;
    \height: 22px;
   
}

.header-nav .search-button{
    padding-left: 30px;
    position: relative;
    padding-right: 182px;
    
}

.search-button::before{
    content: "";
    
    position: absolute;
    top: 13px;
    left:2px;
    
    width: 18px;
    height: 18px;
  
    padding-right: 17px; 
    
    background-image: url("../img/icon-search.svg");
    background-repeat: no-repeat;
    
    background-position: 0 0;
 
    opacity: 0.3;
}

.bookmark-button{
    
    position: relative;
    padding-top: 14px;
    padding-bottom: 13px;
    padding-left: 44px;
    margin-right:0;
    width: 150px;
    box-sizing: border-box;
}

.bookmark-button::before{
    content: "";
    
    position: absolute;
    top: 14px;
    left: 16px;
    
    width: 18px;
    height: 18px;
  
     
    
    background-image: url("../img/icon-bookmark.svg");
    background-repeat: no-repeat;
    
     background-position: 0 0;
 
    opacity: 0.3;
}

.cart-button{
    position: relative;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 48px;
    margin-right:0;
    width: 150px;
    box-sizing: border-box;
}

.cart-button::before{
    content: "";
    
    position: absolute;
    top: 14px;
    left: 18px;
    
    width: 18px;
    height: 18px;
  
     
    
    background-image: url("../img/cart-icon.svg");
    background-repeat: no-repeat;
    
     background-position: 0 0;
 
    opacity: 0.3;
}

.cart-button-red{
    background-color: #ee3643;
}


.green-button{
    padding-right: 0;
    margin-right: 0;
    width: 110px;
    padding: 14px 20px;
    
}

.header-nav li:nth-of-type(4) a:hover,
.header-nav li:nth-of-type(3) a:hover,
.header-nav li:nth-of-type(4) a:focus,
.header-nav li:nth-of-type(3) a:focus{
    background-color: #212a3a;
}

.header-nav li:nth-of-type(4) a:active,
.header-nav li:nth-of-type(3) a:active{
    background-color: #161d29
}


.header-nav a:hover::before,
.header-nav a:focus::before{
    opacity: 1;
}

.header-nav a:active::before{
    opacity: 0.5;
}

.header-personal{
    background-color: #f4f7f9;
  
}
  
.header-nav input{
    background-color: #293449;
    color: white;
    border: none;
    font: inherit;
    display: inline;
    height: 16px;
}


.personal{
    width: 940px;
    margin: 0 ;
    padding: 0;
    min-height: 65px;
   
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
  
   
}

.personal h2{
    font-size: 16px;
    line-height: 23px;
    color: #ee3643;
    font-family: "Cuprum Italic", sans-serif;
    padding: 0;
    margin: 0;
    width: 208px;
    min-height: 60px;
    margin-left: 53px;
    margin-top: 47px;
    flex-shrink: 0;
    margin-bottom: 1px;
    font-weight: 400;
}



.personal .phone-address{
    width: 270px;
    height: 60px;   
    margin-left: 61px;   
    margin-top: 43px;
    padding-top: 0;
    
    flex-shrink: 0;
}


.personal .phone{
    text-decoration: none;
    font-size: 21px;
    line-height: 21px;
    color: #ee3643;
    
    border: 3px solid #ffffff;
    padding: 11px 47px 7px 69px;
    margin-bottom: 4px;
    margin-top: 0px;
    position: relative;
}

.personal .phone::before{
    content: "";
    
    position: absolute;
    top: 10px;
    left: 12px;
    
    width: 18px;
    height: 18px;
  
     
    
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    
     background-position: 0 0;
 
   
}

.personal .address{
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
    margin-top: 0px;
    padding-left: 8px;
}

.login{
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 44px;
    margin-left: 27px;
}

.login .login-button{
        padding: 13px 27px 13px 47px;
    position: relative;
    margin-left: 0px;
    margin-top: 0px;
    display: block;
    width: 121px;
    height: 45px;
    box-sizing: border-box;
}

.login .login-button::before{
    content: "";
    
    position: absolute;
    top: 14px;
    left: 14px;
    
    width: 20px;
    height: 18px;
  
     
    
    background-image: url("../img/icon-login.svg");
    background-repeat: no-repeat;
    
     background-position: 0 0;
 
     opacity: 0.3;
}


.login .logon-button{
    padding: 10px 25px ;
     margin-left: 0px;
    margin-top: 0px;
}

.login li:last-child{
    margin-left: 8px;
}

.main-navigation{
    width:940px;
    min-height: 60px;
    background-color: #32425c;
    margin-top: 38px;
    margin-bottom: 60px;
     
}


.user-navigation li{
    list-style: none;
}
.user-navigation{
   display: flex; 
    align-items: center;
    margin: 0;
    padding: 0;
    
}

.user-navigation a{
    display: block;
    background-color: #32425c;
    font-size: 17px;
    line-height: 17px;
    color: #ffffff;
    padding-top: 22px;
    padding-bottom: 23px;
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: inset 0px -5px 0 0 #293449;
}

.user-navigation li:nth-of-type(1) a{
    padding-right: 34px; 
    padding-left: 52px;
    margin-left:0;
}

.user-navigation li:nth-of-type(2) a{
    padding-right: 31px; 
    padding-left: 30px;   
}

.user-navigation li:nth-of-type(3) a{
 padding-right: 29px; 
    padding-left: 28px;    
}

.user-navigation li:nth-of-type(4) a{
 padding-right: 30px; 
    padding-left: 30px;     
}

.user-navigation li:nth-of-type(5) a{
 padding-right: 32px; 
    padding-left: 30px;     
}

.user-navigation li:nth-of-type(6) a{
 padding-right: 30px; 
    padding-left: 30px;    
}

.user-navigation li:nth-of-type(7) a{
 padding-right: 55px; 
    padding-left: 32px;    
}

.user-navigation a:hover,
.user-navigation a:focus{
    background-color: #293449;
}

.user-navigation a:active{
    background-color: #1d2739;
    color: rgba(255,255,255,0.5);
    box-shadow: inset 0px -5px 0 0 #1d2739;
}

.main-offers{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
    margin-top: 59px;
    margin-bottom: 53px;
}

.main-offers-wrapper{
    width:940px;
    margin: 0 auto;
    padding: 0;
    
    
}

.widget{
    padding:0;
    margin: 0;
    
    display: flex;
    flex-wrap: wrap;
}

.widget li{
    list-style: none;
    width: 300px;
    height: 123px;
    
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;
}

.widget li:nth-child(1){
    background-color: rgb(255 ,191,71)
        
}

.widget li:nth-child(2){
    background-color: rgb(59, 188, 227);
   
}

.widget li:nth-child(3){
    background-color: rgb(220, 145, 216);
    margin-right: 0px;
    
}

.widget li:nth-child(4){
     width: 620px;
    height: 266px;
   
    background-color: skyblue;
}

.widget li:nth-child(5){
    background-color: rgb(142, 215, 143);
    margin-left: 0;
    margin-right: 0;
    
}


.widget li:nth-child(5) div:first-of-type{
    background-color: rgb(142, 215, 143);
    margin-bottom: 20px;
    margin-right: 0;
    height: 123px;
    
}

.widget li:nth-child(5) div:last-of-type{
    background-color: rgb(255,192,71);
    margin-left: 0;
    margin-right: 0;
    height: 123px;
}

.widget-wrapper{
    position: relative;
}

.offer{
    position: absolute;
    top: 20px;
    left: 22px;
    
    font-family: "Cuprum Bold",sans-serif;
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
}


.offer-condition{
    position: absolute;
    bottom: 22px;
    left: 24px;
}



.widget-wrapper img{
    position:absolute;
}



.widget-wrapper:nth-of-type(2) img{
    top: 33px;
    right:30px;
}

.widget-wrapper:nth-of-type(3) img{
    top: 31px;
    right:31px;
}

div>.widget-wrapper:nth-of-type(1) img{
    top: 26px;
    right:45px;
}

div > .widget-wrapper:last-of-type img{
    top: 32px;
    right: 31px;
}

.widget-wrapper:first-of-type img{
    top: 31px;
    right:42px;
}

.widget .flag {
  position: absolute;
  top: 0px;
  right: 0px;
  
  width: 60px;
  height: 60px;
  
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}


.widget .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.widget-slider{
    background-color: skyblue;
    width: 620px;
    height: 266px;
}

.widget-slider {
  position: relative;
}

.widget-slider input[type="radio"] {
  display: none;
}

.slider-inner {
  overflow: hidden;
}

.slider-slides{
    width: 200%;
    transition: transform 0.8s ease;
    display: flex;
}

.slider-slides>div{

  width: 620px;
  height: 266px;
    position: relative;
}

.slider-slides img{
  width: 620px;
  height: 266px;
}

.slider-slides h3{
    position: absolute;
    top:23px;
    left: 25px;
    
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}

.slider-slides p{
    position: absolute;
    top: 61px;
    left: 25px;
    
    font-size: 18px;
    line-height: 24px;
    color: white;
    margin: 0;
}




.slider-controls {
  position:absolute;
  text-align: center;
  z-index: 10;
  display: flex;
  width: 620px;
  top: 216px;
  justify-content: center;
    
}

.slider-controls label {
  display: inline-block;
  vertical-align: middle;
  margin: 4px 6px;
  width: 6px;
  height: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
  border: 2px solid white;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
    
}

.slider-controls label:first-child::before {
    content: "";
  background-image: url("../img/icon-left.svg");
  margin-left: 25px;
  width: 22px;
  height: 40px;
    position: absolute;
    top: -102px;
    left: 0px;
}

.slider-controls label:last-child::before {
    content: "";
  background-image: url("../img/icon-right.svg");
      margin-right: 20px;
    width: 22px;
  height: 40px;
    position: absolute;
    top: -102px;
    right: -1px;

}
    
#btn-2:checked ~ .slider-controls label[for="btn-1"],
#btn-1:checked ~ .slider-controls label[for="btn-2"] {
  background-color: #ee3643;
}


#btn-1:checked ~ .slider-inner .slider-slides {
  transform: translate(0);
}

#btn-2:checked ~ .slider-inner .slider-slides {
  transform: translate(-620px);
}

.slider-caption{
    position: absolute;
}

.first-slide {
  width: 620px;
  height: 266px;
}



.widget a{
    width: 135px;
    height: 38px;
    background-color: rgba(0,0,0,0.1);
    border:none;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    display: block;
      padding: 11px 12px 10px 12px;
    box-sizing: border-box;
    text-align: center;
}
 
.widget a:hover,
.widget a:focus{
   background-color: rgba(0,0,0,0.2) 
}

.widget a:active{
   background-color: rgba(0,0,0,0.3) 
}

.slider-slides a{
    position: absolute;
    bottom: 22px;
    left: 25px;
    
    padding: 11px 45px 13px 47px;
    text-transform: uppercase;
    
    border-radius: 3px 3px;
    width: 195px;
    height: 38px;
    box-sizing: border-box;
    display: block;
    background-color: #ee3643;
}

.slider-slides a:hover,
.slider-slides a:focus{
    background-color:#ca2c37;
}

.slider-slides a:active{
    background-color:#ba2732;
}

.popular{
    width: 100%;
    display: flex;
    margin-top: -18px;
}

.popular-wrapper{
    background-color: #f9f5f0;
    width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.popular h2{
     font-size: 30px;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;
    font-weight: 400;
    
    margin-left: 30px;
    margin-top: 29px;
    margin-bottom: 30px;
}

.popular a{
    padding: 11px 55px;
   margin-right: 24px;
    margin-top: 25px;
    margin-bottom: 26px;
    
    display: inline-block;
    border-radius: 3px 3px;
    width: 254px;
    height: 38px;
    box-sizing: border-box;
    text-transform: uppercase;
    
}

.popular-list li{
    list-style: none;
    
    border: 1px solid #eaeaea;
}

.drills{
    margin-left: 75px;
}

.catalog-items {
  width: 940px;
  margin: 20px auto;
}

.inner-page .catalog-items{
    width: 700px;
    margin-left: -20px;
}


.catalog-item {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 218px;
  margin-right: 20px;
  margin-bottom: 20px;
  
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  
  border: 1px solid #ccc;
}

.catalog-items {
  font-size: 0;
}

.catalog-item {
  font-size: 16px;
}

.index-catalog-item:nth-child(4n){
    margin-right: 0px;
}

.inner-page .catalog-item:nth-child(3n){
    margin-right: 0px;
}

.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  
  width: 60px;
  height: 60px;
  
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog-item .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;
  
  width: 218px;
  height: 88px;
  padding: 40px 0;
  
  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}

.catalog-item .actions .buy,
.catalog-item .actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;
  
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.catalog-item .actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

.catalog-item .actions {
  display: none;
}

.catalog-item .image {
  width: 218px;
  height: 168px;
}

.catalog-item .image img {
  max-width: 100%;
}

.catalog-item .title {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: -4px;
  font-size: 18px;
  font-weight: bold;
  font-family: "PT sans Bold", sans-serif;
  line-height: 20px;
}

.catalog-item .discount {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  
  color: #999;
  text-decoration: line-through;
    
  font-size: 17px;
  font-weight: bold;
  font-family: "PT sans Bold", sans-serif;
  line-height: 18px;
}

.catalog-item .price {
  position: relative;
  width: 80px;
  margin: -4px auto;
    margin-left: 41px;
  margin-bottom: 20px;
  padding: 11px 30px;
  
  color: white;
  background: #ee3643;
  border-radius: 3px;
    
  font-size: 17px;
  font-weight: bold;
  font-family: "PT sans Bold", sans-serif;
  line-height: 18px;
}

.catalog-item .price:after {
  content: "";
  
  position: absolute;
  top: 0;
  right: -20px;
  
  width: 0;
  height: 0;
  
  border: 20px solid white;
  border-left-color: #ee3643;
}

.producers-wrapper{
    width: 100%;
    display: flex;
}

.producers{
    width: 940px;
    margin: 0 auto;
    padding: 0;
    margin-top: 20px;
    
    display: flex;
    flex-wrap: wrap;
}

.producers li{
    list-style: none;
     border: 1px solid #eaeaea;
    box-sizing: border-box;
    width: 220px;
    height: 145px;
    margin-right: 20px;
    margin-bottom: 20px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.producers li:nth-child(4n){
    margin-right: 0;
}

.services{
    background-color: #f4f7f9;
    width: 100%;
    display: flex;
    margin-top: 65px;
    padding-top: 38px;
}

.services-wrapper{
    width: 940px;
    margin: 0 auto;
}

.services-wrapper ul{
    list-style: none;
    margin-right: 80px;
}

.services h3{
    margin-top: 0;
    
    font-size: 36px;
    line-height: 36px;
    color: #32425c;
    font-weight: 400;
    text-transform: uppercase;
}


.services p{
    font-size: 13px;
    line-height: 24px;
    color: #000000;
    
    margin-bottom: 0;
    font-family: "PT sans", sans-serif;
}

.slider-section{
    display: flex;
    flex-wrap: wrap;
    margin-top: -2px;
    
}


.services-container{
    display: flex;
    flex-wrap: wrap;
    
    margin-top: 70px;
}

.slider-delivery .container{
    width: 275px;
}

.slider-delivery h3,
.slider-credit h3{
    margin-bottom: 25px;
}
.slider-warranty h3{
    margin-bottom: 26px;
}

.slider-delivery img{
    margin-top: 25px;
    margin-left: -124px;
}

.slider-warranty .container{
    width: 374px;
}

.slider-warranty img{
    margin-top: 4px;
    margin-left: -143px;
}

.slider-credit .container{
    width: 278px;
}

.slider-credit img{
    margin-top: 3px;
    margin-left: -124px;
}

.slider-credit a{
      padding: 11px 44px 14px 44px;
    margin-top: 25px;
    margin-left: 1px;
    
    display: inline-block;
    vertical-align: middle;
    border-radius: 3px 3px;
    width: 195px;
    height: 38px;
    box-sizing: border-box;
    text-transform: uppercase;
}

.slider-option input{
    display: none;
}

.services-container ul{
    margin:0;
    padding: 0;
    
    margin-right:80px;
    position: relative;
  
}

.services-container ul:after{
    content: "";
    
    background-image: url("../img/shadow.png");
    width: 10px;
    height: 279px;
    
    position: absolute;
    top: -48px;
    right: 0px;
}

.slider-option{
    margin-left:0;
    padding: 0;
    box-sizing: border-box;
    
}

.slider-option label {
  position: relative;

  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
    
  width: 240px;
  height: 61px;
  background-color:#32425c;
  color: white; 
    
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  
  padding-left: 23px;
  padding-top: 15px;
  
  box-sizing: border-box;
  border-top: solid 1px #405069;
    border-bottom: 1px solid #293449;
 
}

.slider-option .label-color{
    background-color:white;
  color: #32425c; 
    border: none;
}

.slider-switch:active +.credit{
  color: #663d15;
}

.display-none{
    display: none;
}

.company,
.contact,
.services h2{
    font-size: 30px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
    font-weight: 100;
}

.company-article-1,
.company-article-2,
.contact-article
.services p{
    font-family: "PT sans", sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
}


.index-columns{
    width: 100%;
    display: flex; 
    padding-top:79px;
}

.index-columns .container{
    padding: 0;
    margin: 0 auto;
    min-height: 368px;
    min-width: 940px;
    display: flex;
    margin-bottom: 53px; 
    
}

.company-info{
    padding: 0;
    margin: 0;
    width: 519px;
    
}

.company-info h2{
    margin-bottom: 26px;
    margin-top: 0;
    padding-top: 0;
}

.company-article-1{
    margin-bottom: 24px;
    margin-top: 0;
    padding-top: 0;
}


.company-article-2{
     margin-bottom: 0px;
    margin-top: 0;
    padding-top: 0;
}



.transport{
    position:relative;
}

.transport li:before{
    content: "";
    
    position: absolute;
    
    width: 25px;
    height: 2px;
    background-color: #ee3643;
    
}

.transport li:nth-child(1):before{
    top: 10px;
    left: 0px;
}

.transport li:nth-child(2):before{
    top: 50px;
    left: 0px;
}

.transport li:nth-child(3):before{
    top: 89px;
    left: 0px;
}

.company-info .red-button{
    display: inline-block;
    vertical-align: middle;
    padding: 10px 40px;
    margin-bottom: 0px;
    
    margin-top: 25px;
    border-radius: 3px 3px;
    text-transform: uppercase;
}

.contacts{
    padding: 0;
    margin: 0;
    width: 300px;
    min-height: 368px;
    margin-left:120px;
}

.contacts h2{
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 27px;
}

.contacts p{
    font-family: "PT sans", sans-serif;
    margin-bottom: 30px;
}

.contacts img{
    margin-top: 0;
    margin-bottom: 40px;
}

.company-info-wrapper,
contacts-wrapper{
    padding: 0;
    margin: 0;
    min-height: 403px;
}

.contacts-wrapper{
    min-height: 403px;
    position: relative;
}

.contacts-wrapper .red-button{
    display: inline-block;
    vertical-align: middle;
   padding: 12px 59px 10px 63px;
    position: absolute;
    bottom: 31px;
    left: 1px;
    
    border-radius: 3px 3px;
    width: 300px;
    box-sizing: border-box;
    
    text-transform: uppercase;
}



.transport li{
    list-style: none;
    
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    margin-top: 20px;
    margin-left: -4px;
}

.account-link li{
    list-style: none;
}

.orders,
.personal-account{
    font-size: 16px;
    color: #32425c;
}

.orders:hover,
.orders:focus,
.personal-account:hover,
.personal-account:focus{
    color: #ee3642;
}

.orders:active,
.personal-account:active{
    color: rgba(50, 66, 92, 0.3);
}

.page-title{
    background-color: #f2f6f8;
    
    color: #32425c;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    
    padding-left: 26px;
    padding-top: 28px;
    height: 89px;
    margin: 0;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.filter{
    width:240px;
    margin-right: -40px;
}


.filter h2{
    background-color: #f7f3ec;
    
    font-family: "PT sans", sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    
    padding: 10px 62px 10px 18px;
    text-transform: uppercase;
    font-weight: 400;
    width: 140px;
    margin-top: -2px;
}

.filter fieldset {
   padding: 0;
  margin: 0;
  margin-bottom: 25px; 
  margin-top: 10px;
    
  border: none;
    
position: relative;
}

.filter fieldset:first-of-type{
    height: 188px;
}

.filter legend {
  font-family: "PT sans Bold", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
    text-transform: uppercase;
    
    margin-bottom: 15px;
}

.range-slider-track::after{
    content: "";
    width: 180px;
    height: 2px;
    background-color: #d7dcde;
    position: absolute;
    top: 37px;
    left:21px;
   
    
}

.range-slider-track::before{
    content: "";
    width: 150px;
    height: 2px;
    background-color: #63a63e;
    position: absolute;
    top: 37px;
    left:21px;
     z-index: 5;
    
}

.range-slider{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.range-slider::before{
     content: "";
    width: 10px;
    height: 1px;
    background-color: #444444;
    position: absolute;
    top: 19px;
    left:106px;
}

.range-slider-pin{
    border: 8px solid white;
    border-radius: 50%;
    background-color: #999999;
    height: 5px;
    width: 5px;
    top: 28px;
    position: absolute;
     z-index: 10;
}

.range-slider-pin-min{
   left: 20px; 
}

.range-slider-pin-max{
   left: 160px;
}


.range-slider input{
    background-color: #f7f3ec;
    padding: 9px 10px 10px 24px;
    margin-right: 5px;
    
    font-size: 17px;
    line-height: 18px;
    font-family: "PT sans", sans-serif;
    border:none;
    
    
    width: 95px;
    height: 38px;
    box-sizing: border-box;
    vertical-align: middle;
    text-align: center;
    
    
}

.switch-slider{
   background-color: #f7f3ec;
    position: relative;
    width: 220px;
    height: 79px;
    border:none;
    
    margin-bottom: 8px;
}

.filter fieldset:nth-of-type(2):before,
.filter fieldset:nth-of-type(3):before{
    content: "";
    position: absolute;
    top:-19px;
    
    background-color: #cccccc;
    height: 1px;
    width:220px;
}

.filter ul {
  list-style: none;
  line-height: 20px;
    
  padding: 0;
  margin: 0;
}

.filter-option{
    margin-bottom: 19px;
    
    padding-left: 35px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input + label{
    text-transform: uppercase;
    font-family: "PT sans", sans-serif;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: normal;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #000000;
}

.filter-input:disabled + label {
  color: #000000;

  opacity: 0.4;
}

.filter-input-checkbox:not(:checked) + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 0;

  width: 24px;
  height: 24px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
    opacity:0.3;
}

.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  top: 0px;
  left: -35px;

  width: 24px;
  height: 24px;
  
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
    opacity:0.3;
}

.filter-input-radio:not(:checked) + label::before {
  content: "";
  position: absolute;
  left: -37px;
  top: -4px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
    opacity:0.3;
}

.filter-input-radio:checked + label::after {
 content: "";
  position: absolute;
  left: -37px;
  top: -4px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
    opacity:0.3;
}


.submission{
   font-family: "PT sans", sans-serif;
   font-size: 13px;
   line-height: 18px; 
    text-transform: uppercase;
    
   border: 1px solid #e5e5e5;
   border-radius: 2px;
   background-color: #ffffff;
   padding: 10px 39px 10px 39px; 
    
   margin-top: 32px;
}



.sorting{
    background-color: #f7f3ec;
    width: 700px;
    height: 38px;
    margin-left:-20px;
    font-size: 13px;
    line-height: 18px;
    font-family: "PT sans", sans-serif;
    display: flex;
    align-content: center;
    justify-content: space-between;
    text-transform: uppercase;
    box-sizing: border-box;
    padding: 9px 106px 5px 19px;
        margin-top: -2px;
    margin-bottom: 20px;
    position: relative;
    
}

.sorting a{
    display: block;
}

.sorting-up{
    
    top: 14px;
    right: 48px;
    position: absolute;
}

.sorting-down{
    
    top: 12px;
    right: 16px;
    position: absolute;
}


.sorting-price{
    color: #ee3643;
    margin-left:72px;
}

.sorting-type,
.sorting-functional{
    color: rgba(0,0,0,0.3);
    border-bottom: #ee3642 dotted 1px;
    height: 16px;
}

.pagination-list{
    list-style: none;
    
    display: flex;
    flex-wrap: wrap;
    
    margin-top: 32px;
    margin-bottom: 60px;
    margin-left: -60px;
}

.pagination-item a{
   color: #000000;
   font-family: "PT sans", sans-serif;
   font-size: 13px;
   line-height: 18px;
   text-transform: uppercase;
    
   border: 1px solid #e5e5e5;
    border-radius: 3px;
    
    display: block;
    padding: 9px 15px;
    margin-right: 10px;
}

.pagination-item a:hover,
.pagination-item a:focus{
   border: 1px solid #bdc6ca; 
}

.pagination-item a:active{
   border: 1px solid #ee3643; 
}

.pagination-current a{
    background-color: #ee3643;
    color: white;
}

.pagination-next a{
    padding: 9px 32px ;
    
}

.about-section{
    background-color: #f4f7f9;
    width: 100%;
    margin-bottom: -3px;
    display: flex;
}
.about-section-wrapper{
    width: 940px;
    margin: auto;
    
}


.about-section h2{
   font-size: 30px;
   line-height: 30px;
    color: #000000;
    text-transform: uppercase;
    margin-top: 67px;
    font-weight: 100;
}

.about-section p{
    color: #555;
   font-family: "PT sans", sans-serif;
   font-size: 13px;
   line-height: 24px;
    margin-bottom: 71px;
    font-weight:700;
}





.main-footer{
    background-color: #32425c;
     min-height: 300px;
}

.footer-logo{
    position: relative;
    width: 322px;
    flex-shrink: 0;
}

.footer-nav .logo{
   position:absolute;
    top: 0;
    left: 0; 
    width: 220px;
    height: 68px; 
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.footer-nav img{
    position: relative;
    top: 20px;
    left: 41px; 
    vertical-align: middle;
   
}

.footer-contacts{
    font-size: 18px;
    line-height: 24px;
    color: #f3f7f9;
    margin-top: 97px;
    margin-left: 4px;
    margin-right: -5px;
}

.footer-contacts p{
    width: 322px;
}


.footer-nav{
    width: 100%;
    min-height: 194px;
}

.footer-nav .container{
    width: 940px;
    margin: 0 auto;
    padding:0;
    display: flex;
}

.footer-logo{
    width: 322px;
    margin: 0px;
    
}

.main-footer li{
    list-style: none;
}

.footer-nav-1,
.footer-nav-2{
    display: flex;
    flex-wrap:nowrap;
    margin: 0;
    padding: 0;
}

.footer-nav-1{
    margin-top: 39px;
}

.footer-nav-2{
    margin-top: 34px;
    margin-left: 23px;
}

.footer-nav-1 a{
    display: block;
    margin-left: 60px;
    margin-right: 2px;
    
    font-size: 18px;
    line-height: 24px;
    color: #f3f7f9;
}

.footer-nav-1 li:nth-of-type(1){
    margin-left: 10px;
    margin-right: -11px;
}

.footer-nav-1 li:nth-of-type(3){
    margin-left: 5px;
    margin-right: -4px;
}
.footer-nav-1 li:nth-of-type(2){
    margin-left: 7px;
    margin-right: -7px;
}

.footer-nav-1 li:nth-of-type(4){
    margin-left: 3px;
    margin-right: -4px;
}

.footer-nav-2 a{
    display: block;
    font-size: 18px;
    line-height: 24px;
    color: #ffda96;
}

.footer-nav-2 li:nth-of-type(1){
    margin-left: 71px;
    margin-right: -52px;
}

.footer-nav-2 li:nth-of-type(3){
    margin-left: 66px;
    margin-right: -4px;
}
.footer-nav-2 li:nth-of-type(2){
    margin-left: 112px;
    margin-right: -7px;
}

.footer-nav-2 li:nth-of-type(4){
    margin-left: 64px;
    margin-right: -4px;
}

.footer-nav-1 a:hover,
.footer-nav-1 a:focus,
.footer-nav-2 a:hover,
.footer-nav-2 a:focus{
   text-decoration: underline;
}

.footer-nav-1 a:active{
   text-decoration: none;
   color: rgba(241, 245, 247, 0.5)

; 
}

.footer-nav-2 a:active{
   text-decoration: none;
   color: rgba(255, 209, 128, 0.5); 
}




.feedback-section .container{
    width: 940px;
    margin: 0 auto;
    padding:0;
    display: flex;
    align-items: center;
    
    min-height: 103px;
}


.feedback-section{
    background-color: #293449;
    width: 100%;
    min-height: 107px;
}

.footer-copyright{
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    
    width: 228px;
    margin: 0px;
    margin-right: 161px;
    flex-shrink: 0;
    margin-top: 4px;
}

.feedback,
.designed{
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
}

.email,
.academy{
    font-size: 16px;
    line-height: 18px;
    color: #ffd180;
}

.designed{
    margin-right: 0;
}

.feedback{
    margin-right:53px;
}

.footer-social{
    width: 132px;
    margin: 0px;
    margin-right: 119px;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
    
  border-radius: 50%;

  background-color: #212a3a;
    margin-top:35px;
    margin-bottom: 30px;
}

.social-button:active,
.social-button:hover,
.social-button:focus{

    background-color: #ee3643;
}


.feedback{
    width: 135px;
    margin: 0px;
    margin-right: 53px;
}

.designed{
    width: 96px;
    margin: 0px; 
     margin-right: -1px;
}


.email:hover,
.email:focus,
.academy:hover,
.academy:focus{
    text-decoration: underline;
}

.email:active,
.academy:active{
    color: #ee3643;
    text-decoration: none;
}



/* catalog */
.home{
    position: relative;
    
    margin-left: 16px;
}

.home::before{
    content: "";
    
    position: absolute;
    top: 2px;
    left: -16px;
    
    width: 14px;
    height: 12px;
  
    
    background-image: url("../img/icon-home.svg");
    background-repeat: no-repeat;
    background-position: 0px 0px;
}


.breadcrumbs {
  padding: 0;
  margin: 0;
  margin-bottom: 22px;
  margin-top: 21px;
    
  display: flex;
  justify-content: flex-start;
    align-items: center;
  
}

.breadcrumbs a,
.breadcrumbs-current{
    font-size: 13px;
    font-family: "PT sans", sans-serif;
    line-height: 18px;
    color: #000000;
    
    margin-right: 40px;
    text-transform: uppercase; 
}

.breadcrumbs li::after{
    content: "";
    
    position: absolute;
    top: 4px;
    left: -24px;
    
    width: 8px;
    height: 12px;
  
    
    background-image: url("../img/icon-right-small.svg");
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

.breadcrumbs li:first-of-type::after{
 display: none;   
}


.breadcrumbs li{
    list-style: none;
    position: relative;
    font-family: "PT sans", sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
}

.account{
    display: flex;
    flex-direction: column;
    margin-left:auto;
    position: relative;
}

.account>a:first-of-type{
    display: block;
    box-sizing: border-box;
    width: 299px;
    height: 45px;
    background-color: #ffffff;
    
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;

    position: relative;
    
    padding-top: 14px;
    padding-bottom: 11px;
    padding-left: 47px;
    margin-top: 42px;
    margin-bottom: 10px; 
}

.account>a:first-of-type::before{
    content: "";
    
    position: absolute;
    top: 12px;
    left: 10px;
    
    width: 20px;
    height: 18px;
  
    
    background-image: url("../img/icon-user.svg");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    opacity: 0.3;
}

.account .logout{ 
    position: absolute;
    top: 57px;
    right: 10px;
    
    width: 21px;
    height: 17px;
  
    opacity: 0.3;
}

.account-link{
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: -4px;
}

.account-link li:last-of-type{
 margin-left: -7px;   
}

.account-link a{
    text-decoration: underline;
    display: block;
    position: relative;
    
}

.orders{
    margin-right: 15px;
    margin-left: 17px
}

.personal-account{
    margin-left: 24px;
}

.personal-account::before{
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    
    position: absolute;
    top: 10px;
    left: -18px;
    
    background-color: #32425c;
}

.main-nav{
   width: 940px;
    margin: 0 auto;
    padding:0;
    display: flex; 
    flex-direction: column;
}



.catalog-columns{
     width: 940px;
    margin: 0 auto;
    padding:0;
    display: flex; 
}


.inner-page cart-button,
.inner-page order-count{
    background-color: #ee3643;
}

.modal{
/*    display: none;*/
    border-top: 7px solid #ee3643;
    position: relative;
    box-sizing: border-box;
    box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.modal form{
    width: 620px;
}

.modal-letter{
    display: none;
    width: 620px;
    min-height: 430px;
    
    position: fixed;
    top: 286px;
    left: 50%;
    margin-left: -310px;
    z-index: 100;
}

.login-form{
    width:220px;
    margin-top: 48px;
    margin-left: 20px
}

.login-form:first-of-type{
    margin-left: 80px
}

.login-form label{
    font-size: 18px;
    line-height: 18px;
}

.letter{
    width: 460px;
    
    font-size: 18px;
    line-height: 18px;
    margin-left: 80px;
    margin-top: 0px;
}

.modal-letter input{
  width: 220px;
  height: 38px;
  border: 2px solid #dee3e4;
   border-radius: 2px;
    box-sizing: border-box;
    margin-top: 5px;
    padding-left: 16px;
}

.modal-letter input::placeholder,
.modal-letter textarea::placeholder{
     font-size: 13px;
    line-height: 18px;
    font-family: "PT sans", sans-serif;
    color: #a9a9a9;
    
}

.modal-letter textarea{
    width: 460px;
    height: 114px;
    border: 2px solid #dee3e4;
   border-radius: 2px;
    box-sizing: border-box;
     padding-left: 16px;
    padding-top: 9px;
    margin-top: 11px;
    resize: none;
}



.modal-close{
   position: absolute;
    top: 9px;
    right: 9px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    color: transparent;
}

.modal-close::before{
    content: "";
    
    position: absolute;
    top: 9px;
    right: 9px;
    
    width: 21px;
    height: 21px;
  
    
    background-image: url("../img/modal-close.svg");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    z-index: 12;
}

.modal-1{
    min-height: 311px;
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
}

.modal-2{
    background-color: #f1f1f1;
    min-height: 112px;
}

.modal-2 button{
    padding: 12px;
    margin-top: 37px;
    margin-left: 80px;
    
    display: inline-block;
    vertical-align: middle;
    border-radius: 3px 3px;
    width: 460px;
    height: 38px;
    box-sizing: border-box;
    text-transform: uppercase;
}


.modal-map{
    width: 940px;
    height: 446px;
    position: fixed;
    box-sizing: border-box;
    box-shadow: 0 0 14.7px 1.3px rgba(47, 42, 43, 0.5);
    top: 24px;
    left: 50%;
    margin-left: -470px;
    z-index: 7;
    
    display: none;
}

.modal-order{
    display: none;
    height: 282px;
    width: 620px;
    
     position: fixed;
    top: 150px;
    left: 50%;
    margin-left: -310px;
    z-index: 100;
    
}

.modal-order-1{
    min-height: 163px;
    background-color: #ffffff;
}

.modal-order-1 p{
    font-size: 30px;
    line-height: 30px;
    
    
    margin-left: 168px;
    margin-top: 0;
    margin-bottom: 0; 
    padding-top: 68px;
}

.modal-order-1 p::before{
    content: "";
    
    position: absolute;
    top: 48px;
    left: 81px;
    
    width: 66px;
    height: 66px;
  
    
    background-image: url("../img/modal-check.svg");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    
}

.modal-order-2{
    height: 112px;
    background-color: #f1f1f1;
}

.modal-order-2 a{
   
    
    
    padding: 14px 62px 14px 59px;
    margin-top: 0px;
    margin-left: 80px;
    
    display: inline-block;
    vertical-align: middle;
    border-radius: 3px 3px;
    width: 220px;
    box-sizing: border-box;
    
    text-transform: uppercase;
}

.modal-order-2 button{
    
    
    padding: 16px 48px 16px 44px;
    margin-top: 37px;
    margin-left: 20px;
    
    display: inline-block;
    vertical-align: baseline;
    border: none;
    border-radius: 3px 3px;
    width: 220px;
    box-sizing: border-box;
    
    text-transform: uppercase;
    background-color: white;
}

@keyframes bounce {
  0% {
    transform: translateY(3000px);
  }

  70% {
    transform: translateY(-30px);
  }

  90% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}


.modal-show{
    display: block;
    
    animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  margin: 0;
}

.modal-map iframe {
  position: relative;
  z-index: 2;

  border: none;
}