body{
  margin: 0px;
  padding: 0;
  font-family: "Cuprum", "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-transform: none;
    
  background-color: #ffffff;   
}

a{
    text-decoration: none;
}


.white-button{
    font: inherit;
    font-size: 21px;
    line-height: 21px;
    color:  #000000;
    text-align: center;
    vertical-align: middle;
    background-color: #ffffff;
    border: none;  
}

.white-button:hover,
.white-button:focus{
   color: #ee3643; 
}

.white-button:active{
    color: rgba(0, 0, 0, 0.3);
}


.red-button{
    font: inherit;
    font-size: 14px;
    line-height: 18px;
    color:  #ffffff;
    text-align: center;
    vertical-align: middle;
    background-color: #ee3643;
    border: none;  
}

.red-button:hover,
.red-button:focus{
   background-color: #ca2c37; 
}

.red-button:active{
    background-color: #ba2732;
}

.green-button{
    background-color: #63a63e;
    font: inherit;
    font-size: 14px;
    line-height: 18px;
    color:  #ffffff;
    text-align: center;
    vertical-align: middle;
    border: none;
}

.green-button:hover,
.green-button:focus{
    background-color: #5fbb2d;
}

.green-button:active{
    background-color: #518534;
}


.header-cart{
    background-color: #293449;
}

.header-cart a{
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
}

.header-cart .header-nav{
    list-style: none;
}

.header-nav div{
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
}

.header-cart a:nth-of-type(2):hover,
.header-cart a:nth-of-type(2):hover,
.header-cart a:nth-of-type(3):focus,
.header-cart a:nth-of-type(3):focus{
    background-color: #212a3a;
}

.header-cart a:nth-of-type(2):active,
.header-cart a:nth-of-type(3):active{
    background-color: #161d29
}


.logo{
    margin-top: 0px;
    background-color: #ee3643;
    display:inline-block;
    width: 220px;
    height: 47px; 
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);

}

.logo img{
    position: relative;
    top: 13px;
    left: 55px;
}

.header-personal{
    background-color: #f4f7f9;
  
}

.personal h2{
    font-size: 16px;
    line-height: 23px;
    color: #ee3643;
    font-style: italic;
    
}

.personal .phone{
    text-decoration: none;
    font-size: 21px;
    line-height: 21px;
    color: #ee3643;
    
    border: 3px solid #ffffff;
}

.personal .address{
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
}

.login{
    list-style: none;
}

.account p{
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
}


.user-navigation li{
    list-style: none;
}

.user-navigation a{
    background-color: #32425c;
    font-size: 17px;
    line-height: 17px;
    color: #ffffff;
}

.user-navigation a:hover,
.user-navigation a:focus{
    background-color: #293449;
}

.user-navigation a:active{
    background-color: #1d2739;
    color: rgba(255,255,255,0.5);
}



.widget li{
    list-style: none;
}

.widget li:nth-child(1){
    background-color: rgb(255 ,191,71)
}

.widget li:nth-child(2){
    background-color: rgb(59, 188, 227);
}

.widget li:nth-child(3){
    background-color: rgb(220, 145, 216);
}

.widget li:nth-child(4){
    background-color: rgb(142, 215, 143);
}

.widget li:nth-child(5){
    background-color: rgb(255,192,71);
}

.offer{
    font-style: bold;
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
}

.widget button{
    width: 135px;
    height: 38px;
    background-color: rgba(0,0,0,0.1);
    border:none;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    
}
 
.widget button:hover,
.widget button:focus{
   background-color: rgba(0,0,0,0.2) 
}

.widget button:active{
   background-color: rgba(0,0,0,0.3) 
}

.popular{
    background-color: #f9f5f0;
}

.popular h2{
     font-size: 30px;
    line-height: 30px;
    color: #32425c;
}

.popular-list li{
    list-style: none;
    
    border: 1px solid #eaeaea;
}

.perforator,
.perforator-type{
   font-family: "PT Sans", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}

.previous-price{
   font-family: "PT Sans", sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    color: #a9a9a9;
    text-decoration: line-through;
}

.bookmark{
    background-color: #ffffff;
    font: inherit;
    font-size: 14px;
    line-height: 18px;
    color:  #32425c;
    text-align: center;
    vertical-align: middle;
    border: 3px solid #63a63e;
}

.bookmark:hover,
.bookmark:focus{
    color: #32425c;
    border: 3px solid #32425c;
}

.bookmark:active{
    border: 3px solid rgba(50, 66, 92, 0.3);
    color:  rgba(50, 66, 92, 0.3);
}


.producers li{
    list-style: none;
    
    border: 1px solid #eaeaea;
}

.services{
    background-color: #f4f7f9;
}

.company,
.contact,
.services h2{
    font-size: 30px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
}

.company-article-1,
.company-article-2,
.contact-article
.services p{
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
}

.transport li{
    list-style: none;
    
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}

.account-link li{
    list-style: none;
}

.orders,
.personal-account{
    font-size: 16px;
    color: #32425c;
}

.orders:hover,
.orders:focus,
.personal-account:hover,
.personal-account:focus{
    color: #ee3642;
}

.orders:active,
.personal-account:active{
    color: rgba(50, 66, 92, 0.3);
}

.breadcrumbs li{
    list-style: none;
    
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
}
.breadcrumbs a{
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
}

.page-title{
    background-color: #f2f6f8;
    
    color: #32425c;
    font-size: 30px;
    line-height: 30px;
}

.filter h2{
    background-color: #f7f3ec;
    
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
    text-transform: uppercase;
}

.filter ul {
  list-style: none;
  line-height: 20px;
}

.filter-input + label{
    text-transform: uppercase;
    font-family: "PT Sans", sans-serif;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: normal;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #000000;
}

.filter-input:disabled + label {
  color: #000000;

  opacity: 0.4;
}

.submission{
   font-family: "PT Sans", sans-serif;
   font-size: 13px;
   line-height: 18px; 
    
   border: 1px solid #e5e5e5;
}

.sorting{
    background-color: #f7f3ec;
}

.pagination-list{
    list-style: none;
}

.pagination-item a{
   color: #000000;
   font-family: "PT Sans", sans-serif;
   font-size: 13px;
   line-height: 18px;
    
   border: 1px solid #e5e5e5;
}

.pagination-item a:hover,
.pagination-item a:focus{
   border: 1px solid #bdc6ca; 
}

.pagination-item a:active{
   border: 1px solid #ee3643; 
}

.pagination-current a{
    background-color: #ee3643;
}

.about-section{
    background-color: #f4f7f9;
}

.about-section h2{
   font-size: 30px;
   line-height: 30px;
    color: #000000;
}

.about-section p{
    color: #000000;
   font-family: "PT Sans", sans-serif;
   font-size: 13px;
   line-height: 24px;
}

.main-footer{
    background-color: #32425c;
}

.footer-contacts{
    font-size: 18px;
    line-height: 24px;
    color: #f3f7f9;
}

.main-footer li{
    list-style: none;
}

.footer-nav-1 a{
    font-size: 18px;
    line-height: 24px;
    color: #f3f7f9;
}

.footer-nav-2 a{
    font-size: 18px;
    line-height: 24px;
    color: #ffda96;
}

.footer-nav-1 a:hover,
.footer-nav-1 a:focus,
.footer-nav-2 a:hover,
.footer-nav-2 a:focus{
   text-decoration: underline;
}

.footer-nav-1 a:active{
   text-decoration: none;
   color: rgba(241, 245, 247, 0.5)

; 
}

.footer-nav-2 a:active{
   text-decoration: none;
   color: rgba(255, 209, 128, 0.5); 
}


.feedback-section{
    background-color: #293449;
}

.footer-copyright{
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
}

.feedback,
.designed{
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
}

.email,
.academy{
    font-size: 16px;
    line-height: 18px;
    color: #ffd180;
}

.email:hover,
.email:focus,
.academy:hover,
.academy:focus{
    text-decoration: underline;
}

.email:active,
.academy:active{
    color: #ee3643;
    text-decoration: none;
}

.modal-login{
    display: none;
}

.modal-letter{
    display: none;
}


/*     */

html,
body{
    min-height: 3151px;
    min-width: 940px;
}

.main-header{
  min-height: 320px;
}

.header-cart{   
    width: 100%;
    min-height: 42px;
    display:flex;
}

.header-cart .container{
    width: 940 px;
    margin: 0 auto;
    padding: 0;
    display:flex;
    
}

.header-nav{
    margin-top: 0;
 
  
}

.header-personal{
    background-color: #f4f7f9;
    display: flex;
    width: 100%;
    
}

.header-wrapper{
    width: 940 px;
    margin: 0 auto;
    padding: 0;
    display:flex;
    flex-direction: column;
    justify-content: center;

}

.personal{
    width: 940px;
    margin: 0 ;
    padding: 0;
    height 65px
    padding-top: 49px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  
   
}

.personal h2{
    padding: 0;
    margin: 0;
    width: 208px;
    height: 60px;
    
 
}

.personal .phone-address{
    width: 270px;
    height: 60px;   
    margin-left: 71px;    
}

.account{
    margin-left:64px;
}

.main-navigation{
    width:940px;
    min-height: 60px;
    background-color: #32425c;
    margin-top: 44px;
    margin-bottom: 60px;
  
    
}

.index-columns{
    width: 100%;
    display: flex; 
    min-height: 536px;
    padding-top:82px;
}

.index-columns .container{
    padding: 0;
    margin: 0 auto;
    min-height: 368px;
    min-width: 940px;
    display: flex;
    margin-bottom: 96px; 
    
}

.company-info{
    padding: 0;
    margin: 0;
    width: 519px;
    height: 536px;
}

.contacts{
    padding: 0;
    margin: 0;
    width: 300px;
    height: 536px;
    margin-left:120px;
}

.company-info-wrapper,
contacts-wrapper{
    padding: 0;
    margin: 0;
}

.main-footer{
    min-height: 300px;
}

.footer-nav{
    width: 100%
    height: 193px;   
}

.footer-nav .container{
    width: 940px;
    margin: 0 auto;
    padding:0;
    display: flex;
}

.footer-logo{
    width: 322px;
    margin: 0px;
    margin-right: 68px;
}

.feedback-section{
    width: 100%
    height: 107px;   
}

.feedback-section .container{
    width: 940px;
    margin: 0 auto;
    padding:0;
    display: flex;
}

.footer-copyright{
    width: 228px;
    margin: 0px;
    margin-right: 161px;
}

.footer-social{
    width: 162px;
    margin: 0px;
    margin-right: 119px;
}

.feedback{
    width: 135px;
    margin: 0px;
    margin-right: 53px;
}

.designed{
    width: 96px;
    margin: 0px;  
}

/* catalog */

.breadcrumbs {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;

  /* Временно для сетки */
  min-height: 24px;
}

.page-title {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  background-color: #f2f6f8;
    
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  /* Временно для сетки */
  min-height: 89px;
}

.main-nav{
   width: 940px;
    margin: 0 auto;
    padding:0;
    display: flex; 
    flex-direction: column;
}

.catalog-columns{
     width: 940px;
    margin: 0 auto;
    padding:0;
    display: flex; 
}

.filter{
    width:220px;
    margin-right: 20px;
}

.drills{
   width: 710px; 
}

.inner-page .popular-list{
    margin: 0;
    padding: 0;
    
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    
}

.popular-item{
    margin: 0;
    padding: 0;
    width: 218px;
    height: 318px;
    margin-right: 20px;
    margin-top: 20px;
}

.popular-item:nth-of-type(3n){
     margin-right: 0px;
}

.pagination-list{
    margin-top: 52px;
    margin-bottom: 60px;
}